[submodule "others/HowToCook"]
	path = others/HowToCook
	url = git@github.com:Anduin2017/HowToCook.git
[submodule "others/LTFinderButtons"]
	path = others/LTFinderButtons
	url = git@github.com:lexrus/LTFinderButtons
[submodule "others/SSHAutoLogin"]
	path = others/SSHAutoLogin
	url = git@github.com:yh392261226/SSHAutoLogin.git
[submodule "others/fuzzy-fs"]
	path = others/fuzzy-fs
	url = git@github.com:yh392261226/fuzzy-fs.git
[submodule "others/fz"]
	path = others/fz
	url = git@github.com:changyuheng/fz.git
[submodule "others/fzf-help"]
	path = others/fzf-help
	url = git@github.com:BartSte/fzf-help.git
[submodule "others/fzf-tab-completion"]
	path = others/fzf-tab-completion
	url = git@github.com:lincheney/fzf-tab-completion.git
[submodule "others/git-fuzzy"]
	path = others/git-fuzzy
	url = git@github.com:bigH/git-fuzzy.git
[submodule "others/gvcci"]
	path = others/gvcci
	url = git@github.com:yh392261226/gvcci.git
[submodule "others/iterm2-theme-toggle"]
	path = others/iterm2-theme-toggle
	url = git@github.com:yh392261226/iterm2-theme-toggle.git
[submodule "others/linux-command"]
	path = others/linux-command
	url = git@github.com:jaywcjlove/linux-command.git
[submodule "others/phpstorm-stubs"]
	path = others/phpstorm-stubs
	url = git@github.com:JetBrains/phpstorm-stubs.git
[submodule "others/reference"]
	path = others/reference
	url = git@github.com:jaywcjlove/reference.git
[submodule "others/up"]
	path = others/up
	url = git@github.com:shannonmoeller/up.git
[submodule "others/webui-aria2"]
	path = others/webui-aria2
	url = git@github.com:ziahamza/webui-aria2.git
[submodule "others/zfm"]
	path = others/zfm
	url = git@github.com:pabloariasal/zfm.git
[submodule "others/zinit"]
	path = others/zinit
	url = git@github.com:zdharma-continuum/zinit.git
[submodule "others/zsh-fzf-widgets"]
	path = others/zsh-fzf-widgets
	url = git@github.com:amaya382/zsh-fzf-widgets.git
[submodule "enhancd"]
	path = others/enhancd
	url = git@github.com:yh392261226/enhancd.git
[submodule "others/cheatsheets"]
	path = others/cheatsheets
	url = git@github.com:rstacruz/cheatsheets.git
[submodule "configs/cheat/cheatsheets/configs/cheat/cheatsheets/community"]
	path = configs/cheat/cheatsheets/configs/cheat/cheatsheets/community
	url = git@github.com:cheat/cheatsheets.git
[submodule "configs/ranger/plugins/configs/ranger/plugins/ranger_devicons"]
	path = configs/ranger/plugins/configs/ranger/plugins/ranger_devicons
	url = git@github.com:alexanderjeurissen/ranger_devicons.git
[submodule "warp/themes"]
	path = warp/themes
	url = git@github.com:austintraver/warp-theme.git
[submodule "others/drawdb"]
	path = others/drawdb
	url = git@github.com:drawdb-io/drawdb.git
[submodule "others/yh392261226_nvim_config"]
	path = others/yh392261226_nvim_config
	url = git@github.com:yh392261226/nvim_config
[submodule "others/tmux_configs"]
	path = others/tmux_configs
	url = git@github.com:yh392261226/my_tmux_conf.git
[submodule "others/bash-it"]
	path = others/bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "others/oh-my-git"]
	path = others/oh-my-git
	url = git@github.com:arialdomartini/oh-my-git.git
[submodule "others/antigen"]
	path = others/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "others/oh-my-zsh"]
	path = others/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "others/SpaceVim"]
	path = others/SpaceVim
	url = git@gitlab.com:SpaceVim/SpaceVim.git
[submodule "others/chinese-independent-developer"]
	path = others/chinese-independent-developer
	url = git@github.com:1c7/chinese-independent-developer.git
[submodule "others/geektime-books"]
	path = others/geektime-books
	url = git@github.com:it-ebooks-0/geektime-books.git
[submodule "others/others/lazyvim"]
	path = others/others/lazyvim
	url = git@github.com:LazyVim/LazyVim.git
[submodule "others/lazyvim"]
	path = others/lazyvim
	url = git@github.com:LazyVim/LazyVim.git
[submodule "others/lazyvim_starter"]
	path = others/lazyvim_starter
	url = git@github.com:yh392261226/starter.git
[submodule "others/NvChadvim_starter"]
	path = others/NvChadvim_starter
	url = git@github.com:NvChad/starter.git
[submodule "others/ruchee_vim"]
	path = others/ruchee_vim
	url = git@github.com:ruchee/vimrc.git
[submodule "others/jaywcjlove_vim"]
	path = others/jaywcjlove_vim
	url = git@github.com:jaywcjlove/vim-web.git
[submodule "others/tracyone_vinux_vim"]
	path = others/tracyone_vinux_vim
	url = git@github.com:tracyone/vinux.git
[submodule "others/ray-x-nvim"]
	path = others/ray-x-nvim
	url = git@github.com:ray-x/nvim.git
[submodule "others/gerardbm_vim"]
	path = others/gerardbm_vim
	url = git@github.com:gerardbm/vimrc.git
[submodule "others/LunarVim_nvim"]
	path = others/LunarVim_nvim
	url = git@github.com:LunarVim/LunarVim.git
[submodule "others/skywind3000_vim"]
	path = others/skywind3000_vim
	url = git@github.com:yh392261226/skywind3000_vim-init.git
[submodule "others/NeovimConfig_nvimdots"]
	path = others/NeovimConfig_nvimdots
	url = git@github.com:yh392261226/nvimdots.git
[submodule "others/NeovimConfig_nyoom_nvim"]
	path = others/NeovimConfig_nyoom_nvim
	url = git@github.com:yh392261226/nyoom.nvim.git
[submodule "others/NeovimConfig_CosmicNvim"]
	path = others/NeovimConfig_CosmicNvim
	url = git@github.com:yh392261226/CosmicNvim.git
[submodule "others/NeovimConfig_CodeArt"]
	path = others/NeovimConfig_CodeArt
	url = git@github.com:yh392261226/CodeArt.git
[submodule "others/NeovimConfig_LunarVim"]
	path = others/NeovimConfig_LunarVim
	url = git@github.com:yh392261226/LunarVim.git
[submodule "others/NeovimConfig_ThinkVim"]
	path = others/NeovimConfig_ThinkVim
	url = git@github.com:yh392261226/ThinkVim.git
[submodule "others/NeovimConfig_neovim-lua"]
	path = others/NeovimConfig_neovim-lua
	url = git@github.com:yh392261226/neovim-lua.git
[submodule "others/NeovimConfig_yh392261226_nvim_config"]
	path = others/NeovimConfig_yh392261226_nvim_config
	url = git@github.com:yh392261226/nvim_config.git
[submodule "others/NeovimConfig_yh392261226_starter"]
	path = others/NeovimConfig_yh392261226_starter
	url = git@github.com:yh392261226/starter.git
[submodule "others/NeovimConfig_NvChad_starter"]
	path = others/NeovimConfig_NvChad_starter
	url = git@github.com:yh392261226/NvChad_starter.git
[submodule "others/NeovimConfig_ray-x_nvim"]
	path = others/NeovimConfig_ray-x_nvim
	url = git@github.com:yh392261226/ray-x_nvim.git
[submodule "others/NeovimConfig_yh392261226_AstroNvim"]
	path = others/NeovimConfig_yh392261226_AstroNvim
	url = git@github.com:yh392261226/AstroNvim.git
[submodule "others/VimConfig_skywind3000_vim-init"]
	path = others/VimConfig_skywind3000_vim-init
	url = git@github.com:yh392261226/skywind3000_vim-init.git
[submodule "others/VimConfig_bilibili_vim-vide"]
	path = others/VimConfig_bilibili_vim-vide
	url = git@github.com:yh392261226/bilibili_vim-vide.git
[submodule "others/VimConfig_SpaceVim"]
	path = others/VimConfig_SpaceVim
	url = git@gitlab.com:SpaceVim/SpaceVim.git
[submodule "others/VimConfig_jaywcjlove_vim-web"]
	path = others/VimConfig_jaywcjlove_vim-web
	url = git@github.com:yh392261226/jaywcjlove_vim-web.git
[submodule "others/VimConfig_gerardbm_vimrc"]
	path = others/VimConfig_gerardbm_vimrc
	url = git@github.com:yh392261226/gerardbm_vimrc.git
[submodule "others/VimConfig_ruchee_vimrc"]
	path = others/VimConfig_ruchee_vimrc
	url = git@github.com:yh392261226/ruchee_vimrc.git
[submodule "others/NeovimConfig_AGou-ops_dotfiles"]
	path = others/NeovimConfig_AGou-ops_dotfiles
	url = git@github.com:yh392261226/AGou-ops_dotfiles.git
	branch = nvim
[submodule "others/VimConfig_timss_vimconf"]
	path = others/VimConfig_timss_vimconf
	url = git@github.com:yh392261226/timss_vimconf.git
[submodule "others/NeovimConfig_pseudoyu_nvim_config"]
	path = others/NeovimConfig_pseudoyu_nvim_config
	url = git@github.com:yh392261226/nvim_config
[submodule "others/NeovimConfig_LazyVim_starter"]
	path = others/NeovimConfig_LazyVim_starter
	url = git@github.com:yh392261226/starter.git
[submodule "others/NeovimConfig_AstroNvim_template"]
	path = others/NeovimConfig_AstroNvim_template
	url = git@github.com:yh392261226/AstroNvim.git
[submodule "others/awesome-cheatsheets"]
	path = others/awesome-cheatsheets
	url = git@github.com:skywind3000/awesome-cheatsheets.git
