#status-bar {
    layout: vertical;
    height: auto;
    border-top: solid $primary;
    background: $surface;
    padding: 1em;
}

#status-bar-content {
    layout: vertical;
    width: 100%;
}

#shortcuts-container {
    layout: horizontal;
    height: 2;
    align: center middle;
    margin-bottom: 1;
}

.shortcut-item {
    padding: 0 1em;
    text-align: center;
    border: round $primary-lighten-2;
    background: $primary-lighten-3;
}

.shortcut-item:hover {
    background: $primary-lighten-1;
}

#progress-container {
    height: 2;
    width: 100%;
    margin-bottom: 1;
}

#status-progress {
    width: 100%;
    height: 1;
}

#stats-container {
    layout: horizontal;
    height: 2;
    align: center middle;
}

.status-info {
    padding: 0 1;
    text-align: center;
    border: round $secondary-lighten-2;
    background: $secondary-lighten-3;
}

#status-page-info {
    width: 20%;
}

#status-time-info {
    width: 25%;
}

#status-speed-info {
    width: 25%;
}

#status-words-info {
    width: 30%;
}